@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center;">Hi</h1>

<div class="mt-3 ml-3 mr-3" style="text-align: center;">
    <button class="mr-2 ml-2" onclick="location.href='https://localhost:5001/Books'">The Books</button>
    <button class="mr-2 ml-2" onclick="location.href='https://localhost:5001/Authors'">The Authors</button>
</div>